.expense-summary {
    margin: 20px;
    padding: 10px;
    background-color: #2C2C2C;
    border-radius: 8px;
    color: white;
  }
  
  .expense-summary ul {
    list-style: none;
    padding: 0;
  }
  
  .expense-summary li {
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  